/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 66, tabs/*.png */
.tabs-sprite, .tabs-active1, .tabs-active2, .tabs-default1, .tabs-default2 {
  background: url('../images/tabs-sa878e58661.png') no-repeat;
}

/* line 60, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-active1 {
  background-position: 0 -50px;
}

/* line 60, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-active2 {
  background-position: 0 0;
}

/* line 60, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-default1 {
  background-position: 0 -150px;
}

/* line 60, ../../lib/ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-default2 {
  background-position: 0 -100px;
}

/* line 27, ../sass/screen.scss */
#loader {
  position: absolute;
  top: 48%;
  left: 48%;
  z-index: 100;
}

/* line 34, ../sass/screen.scss */
#mainWindow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 44, ../sass/screen.scss */
.tabs, #tab1, #tab2 {
  position: absolute;
  z-index: 100;
  height: 50px;
  width: 50px;
  top: 90px;
  cursor: pointer;
}

/* line 53, ../sass/screen.scss */
#tab1 {
  left: 25px;
}

/* line 58, ../sass/screen.scss */
.tabs-default1:hover {
  background-position: 0 -50px;
}

/* line 64, ../sass/screen.scss */
#tab2 {
  left: 90px;
}

/* line 69, ../sass/screen.scss */
.tabs-default2:hover {
  background-position: 0 0;
}

/* line 75, ../sass/screen.scss */
#banner {
  width: 100%;
  height: 115px;
  background-color: #444444;
}

/* line 83, ../sass/screen.scss */
#title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin: 25px 25px 10px 25px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 94, ../sass/screen.scss */
#subtitle {
  color: #dadada;
  font-size: 1em;
  margin: 0 25px 0 25px;
}

/* line 102, ../sass/screen.scss */
#logoPane {
  height: 100%;
  width: 230px;
}

/* line 107, ../sass/screen.scss */
#social {
  margin: 25px 25px 0 0;
  float: right;
}

/* line 112, ../sass/screen.scss */
#smLink {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
}

/* line 124, ../sass/screen.scss */
#smLink:hover {
  text-decoration: underline;
}

/* line 130, ../sass/screen.scss */
#logo {
  margin: 15px 25px 0 0;
  float: right;
  border: none;
  outline: none;
}

/* line 138, ../sass/screen.scss */
#sidePane {
  background-color: white;
  width: 350px;
  height: 100%;
}

/* line 146, ../sass/screen.scss */
#contentSpacer {
  height: 45px;
  width: 100%;
}

/* line 151, ../sass/screen.scss */
.description {
  width: 300px;
  margin-left: 25px;
}

/* line 158, ../sass/screen.scss */
.italics {
  font-style: italic;
}

/* line 164, ../sass/screen.scss */
.contentHeader, .speciesHeader, .contentImage, .contentText {
  margin-bottom: 25px;
  font-size: 1em;
}

/* line 173, ../sass/screen.scss */
.contentHeader {
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 181, ../sass/screen.scss */
.speciesHeader {
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  border-top: 1px solid #666666;
}

/* line 193, ../sass/screen.scss */
.contentImage {
  width: 300px;
}

/* line 197, ../sass/screen.scss */
.creditText {
  margin-top: -20px;
  margin-bottom: 20px;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

/* line 209, ../sass/screen.scss */
.imgCreditLink {
  color: #666666;
}

/* line 213, ../sass/screen.scss */
.contentText {
  color: #444444;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.968em;
  line-height: 1.1em;
}

/* line 224, ../sass/screen.scss */
.readMore {
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  cursor: pointer;
}

/* line 236, ../sass/screen.scss */
.readMore:hover {
  text-decoration: underline;
}

/* line 242, ../sass/screen.scss */
#sourcePane {
  width: 100%;
  height: 40px;
}

/* line 247, ../sass/screen.scss */
#sourcePane p, .srcLink {
  padding-top: 10px;
  text-align: center;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 261, ../sass/screen.scss */
#bciSource {
  display: none;
}

/* line 265, ../sass/screen.scss */
#controlsPane {
  background-color: #949494;
  width: 100%;
  height: 95px;
}

/* line 273, ../sass/screen.scss */
#timeControls {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: px;
}
/* line 279, ../sass/screen.scss */
#timeControls .time-control {
  vertical-align: top;
  padding-right: 15px;
  padding-left: 8px;
}

/* line 288, ../sass/screen.scss */
#slider-td {
  vertical-align: top;
}

/* line 292, ../sass/screen.scss */
#playButton {
  width: 35px;
}

/* line 296, ../sass/screen.scss */
#playPause {
  cursor: pointer;
}

/* line 300, ../sass/screen.scss */
.dijitRuleMark {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  margin-top: 18px;
  margin-left: -14px;
  cursor: pointer;
}

/* line 315, ../sass/screen.scss */
.tundra .dijitSliderProgressBarH, .tundra .dijitSliderFocused .dijitSliderProgressBarH, .tundra .dijitSliderFocused .dijitSliderLeftBumper, .tundra .dijitSliderLeftBumper {
  background: #ffffff;
}

/* line 319, ../sass/screen.scss */
.tundra .dijitSliderImageHandleH {
  outline: none;
}

/* line 323, ../sass/screen.scss */
#legend {
  margin-left: 15px;
}

/* line 327, ../sass/screen.scss */
#time-legend-pane {
  color: #444444;
  padding-top: 10px;
  padding-left: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/* line 339, ../sass/screen.scss */
.legend-box {
  display: inline-block;
  vertical-align: top;
  width: 1.5em;
  height: 1em;
}

/* line 346, ../sass/screen.scss */
#confirmed-leg {
  background-color: #ee5959;
  border: 1px solid #f19374;
}

/* line 353, ../sass/screen.scss */
#suspected-leg {
  background-color: #fbbd38;
  border: 1px solid #fae637;
}

/* line 360, ../sass/screen.scss */
#batGallery {
  margin-top: 12px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  min-width: 80%;
}

/* line 370, ../sass/screen.scss */
.batGalleryPane {
  text-align: center;
}

/* line 376, ../sass/screen.scss */
.batImg {
  margin-left: 2px;
  margin-right: 2px;
  max-height: 65px;
  cursor: pointer;
  border: 2px solid #949494;
}

/* line 386, ../sass/screen.scss */
.batImg:hover {
  border: 2px solid #fc0000;
}

/* line 390, ../sass/screen.scss */
.logoImg {
  position: absolute;
  cursor: pointer;
  right: 5px;
  z-index: 30;
  outline: none;
}

/* line 398, ../sass/screen.scss */
#pgcLogo {
  bottom: 44px;
}

/* line 402, ../sass/screen.scss */
#bciLogo {
  bottom: 115px;
}
