/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//Imports
@import "compass/reset";
@import "compass/typography/text/ellipsis";

//Sprites
@import "tabs/*.png";
@include all-tabs-sprites;

//Color Variables
$dark-background:#444444;
$mid-background:#949494;
$light-background:#ffffff;
$text-dark:#444444;
$text-mid-dark:#666666;
$text-mid-light:#dadada;
$text-light:#ffffff;

//Fonts
$serif:Georgia, "Times New Roman", Times, serif;
$san-serif:Arial, Helvetica, sans-serif;

#mainWindow{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  font:{
    family:$serif;
  }
}

.tabs{
  position:absolute;
  z-index:100;
  height:50px;
  width:50px;
  top:90px;
  cursor:pointer;
}

#tab1{
  @extend .tabs;
  left:25px;
}

.tabs-default1:hover{
  background:{
    position:0 -50px;
  }
}

#tab2{
  @extend .tabs;
  left:90px;
}

.tabs-default2:hover{
  background:{
    position:0 0;
  }
}

#banner{
  width:100%;
  height:115px;
  background:{
    color:$dark-background;
  }
}

#title{
  color:$text-light;
  font:{
    family:$san-serif;
    size:1.2em;
    weight:bold;
  }
  margin:25px 25px 10px 25px;
  @include ellipsis(true);
}

#subtitle{
  color:$text-mid-light;
  font:{
    size:1em;
  }
  margin:0 25px 0 25px;
}

#logoPane{
    height:100%;
    width:230px;
}

#social{
  margin:25px 25px 0 0;
  float:right;
}

#smLink{
  color:$text-light;
  font:{
    family:$san-serif;
    size:0.8em;
    weight:bold;
  }
  text:{
    decoration:none;
  }
}

#smLink:hover{
  text:{
    decoration:underline;
  }
}

#logo{
  margin:15px 25px 0 0;
  float:right;
  border:none;
  outline:none;
}


#sidePane{
  background:{
    color:$light-background;
  }
  width:350px;
  height:100%;
}

#contentSpacer{
  height:45px;
  width:100%;
}

.description{
  width:300px;
  margin:{
    left:25px;
  }
}

.italics{
  font:{
    style:italic
  }
}

.contentHeader, .speciesHeader, .contentImage, .contentText{
  margin:{
    bottom:25px;
  }
  font:{
    size:1em;
  }
}

.contentHeader{
  color:$text-mid-dark;
  font:{
    family:$san-serif;
    weight:bold;
  }
}

.speciesHeader{
  color:$text-dark;
  font:{
    family:$san-serif;
    weight:bold;
  }
  padding:{
    top:10px
  }
  border-top:1px solid $text-mid-dark;
}

.contentImage{
  width:300px;
}

.creditText{
  margin:{
    top:-40px;
    left:5px;
    bottom:25px;
  }
  color:$text-light;
  font:{
    family:$san-serif;
    size:12px;
  }
}

.imgCreditLink{
  color:$text-light;
}

.contentText{
  color:$text-dark;
  font:{
    family:$serif;
    size:0.968em;
  }
  line:{
    height:1.1em;
  }
}

.readMore{
  color:$text-dark;
  font:{
    family:$san-serif;
    size:0.8em;
  }
  text:{
    decoration:none;
  }
  cursor:pointer
}

.readMore:hover{
  text:{
    decoration:underline;
  }
}

#sourcePane{
  width:100%;
  height:40px;
}

#sourcePane p, .srcLink{
  padding:{
    top:10px;
  }
  text:{
    align:center;
  }
  color:$text-mid-dark;
  font:{
    family:$san-serif;
    size:12px;
  }
}

#bciSource{
  display:none;
}

#controlsPane{
  background:{
    color:$mid-background;
  }
  width:100%;
  height:95px;
}

#timeControls{
  margin:{
    top:15px;
    left:15px;
    right:px;
  }
    .time-control{
    vertical-align:top;
    padding:{
      right:15px;
      left:8px;
    }
  }
}

#slider-td{
  vertical-align:top;
}

#playButton{
  width:35px;
}

#playPause{
  cursor:pointer;
}

.dijitRuleMark{
  color:$text-light;
  font:{
    family:$san-serif;
    size:0.8em;
    weight:bold;
  }
  border:none;
  margin:{
    top:18px;
    left:-14px;
  }
  cursor:pointer;
}

.tundra .dijitSliderProgressBarH, .tundra .dijitSliderFocused .dijitSliderProgressBarH, .tundra .dijitSliderFocused .dijitSliderLeftBumper, .tundra .dijitSliderLeftBumper{
  background:#ffffff;
}

.tundra .dijitSliderImageHandleH{
  outline:none;
}

#legend{
  margin-left:15px;
}

#time-legend-pane{
  color:$text-dark;
  padding:{
    top:10px;
    left:55px;
  };
  font:{
    family:$san-serif;
    size:1em;
  }
}

.legend-box{
  display:inline-block;
  vertical-align:top;
  width:1.5em;
  height:1em;
}

#confirmed-leg{
  background:{
    color:#ee5959;
  }
  border:1px solid #f19374;
}

#suspected-leg{
  background:{
    color:#fbbd38;
  }
  border:1px solid #fae637;
}

#batGallery{
  margin:{
    top:12px;
    right:auto;
    bottom:auto;
    left:auto;
  }
  min-width:80%
}

.batGalleryPane{
  text:{
    align:center;
  }
}

.batImg{
  margin:{
    left:2px;
    right:2px;
  }
  max-height:65px;
  cursor:pointer;
  border:2px solid $mid-background;
}

.batImg:hover{
  border:2px solid #fc0000;
}

.logoImg{
  position:absolute;
  cursor:pointer;
  right:5px;
  z-index:30;
  outline:none;
}

#pgcLogo{
  bottom:44px;
}

#bciLogo{
  bottom:115px;
}